.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active {
    width: 500px;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square:hover {
    background-color: transparent;
   
}

.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
    
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: grayscale(1) sepia(0.3);
    
}





